<div class="modal-header">
    <h4 class="modal-title">Create Project</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">Project Name</label>
        <input class="form-control" type="text" required autofocus ng-model="name" />
    </div>
    <div class="form-group">
        <label class="control-label">Project Type</label>
        <select id="project-type" class="form-control" ng-model="kind">
            <option value="extension">Extension</option>
            <option value="console">Console</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="done()">Create</button>
</div>