<div class="modal-header">
    <div style="min-height:30px">
        <div style="float:left">
            <h4 class="modal-title">
                <a class="btn btn-default" ng-click="compileTest()">
                    <i class="fa fa-play-circle-o fa-lg"></i> Debug &raquo;
                </a>
            </h4>
        </div>
        <div class="btn-group" style="float:right">
            <a class="btn btn-default" ng-disabled="testName == ''" ng-click="saveCurrentTest()">
                <i class="fa fa-save fa-fw"></i>
            </a>
            <a class="btn btn-input">
                <input class="form-control dd-input" type="text" placeholder="Saved Tests" ng-model="testName" />
            </a>
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu dd-dropdown">
                <li ng-repeat="test in tests">
                    <a ng-click="setCurrentTest(test)"><i class="fa fa-check-square fa-lg" style="margin-right:5px"></i> {{test.Caption}} </a>
                </li>
                <li ng-if="!gotTests">
                    <a><i class="fa fa-spin fa-spinner"></i> Please wait...</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-body" style="min-height:400px">
    <div class="round-border dd-code" style="float: left">
        <xs-code-editor id="source-editor" source="{{sourceCode}}" keywords="{{editorKeywords}}" size="{width: 423, height: 368}" />
    </div>

    <div class="round-border dd-code" style="float: right">
        <xs-code-editor id="target-editor" source="{{targetCode}}" size="{width: 423, height: 368}" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="done()">Close</button>
</div>