.dd-code {
    width:49%;
    height:370px;
    position: relative
}

.dd-colors {
    background-color: #777;
    border-color: #777;
}

.dd-tests {
    width:150px;
}

.btn-input {
    padding:0;
    margin-top:-1px;
}

.dd-input {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.dd-dropdown{
    right: 0;
    left: 44px
}