<div class="modal-header">
    <h4 class="modal-title">
        Debug DSL
        <img width="20"/>
        <a class="btn btn-default" ng-click="compileTest()">
            <i class="fa fa-play-circle-o fa-lg"></i> Compile
        </a>
    </h4>
</div>
<div class="modal-body" style="min-height:400px">
    <div class="round-border dd-code" style="float: left">
        <xs-code-editor id="source-editor" source="{{sourceCode}}" size="{width: 423, height: 368}" />
    </div>

    <div class="round-border dd-code" style="float: right">
        <xs-code-editor id="target-editor" source="{{targetCode}}" size="{width: 423, height: 368}" />
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group open" style="float:left">
        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="i"></i> Make admin</a></li>
        </ul>
    </div>    
    <button class="btn btn-default" ng-click="done()">Close</button>
</div>