<div class="modal-header">
    <h4 class="modal-title">Add Transform Method</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" type="text" required ng-model="method" />
    </div>
    <div class="form-group">
        <label class="control-label">{{kindLabel}}</label>
        <select id="project-type" class="form-control" autofocus ng-model="transformKind">
            <optgroup label="Lexical">
                <option value="lexical-transform">Transform</option>
                <option value="lexical-extension">Extension</option>
                <option value="extended-lexical-extension">Normalized Extension</option>
            </optgroup>

            <optgroup label="Syntactical">
                <option value="syntax-transform">Transform</option>
                <option value="syntax-extension">Extension</option>
            </optgroup>

            <optgroup label="Semantical">
                <option value="semantical-transform">Transform</option>
                <option value="semantical-error-handler">Error Handler</option>
            </optgroup>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="done()">Create</button>
</div>