.xs-help {
    padding-left: 5px;
    padding-top:  0px;

    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10  */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
}

.xs-help li {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 0 5px;
    position: relative;
}

/*.xs-help ul {
    list-style-type: none;
    padding-left: 30px;
}*/

.xs-help li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    cursor: pointer;
}

xs-help li span > a {
    text-decoration: none;
}

.animate-help.ng-enter {
  -webkit-transition:12.5s linear all;
  transition:12.5s linear all;
  opacity:1;
}

.animate-help.ng-enter-active {
  opacity:0;
}

.animate-help.ng-hide-add, .my-elm.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}