<div class="modal-header">
    <h4 class="modal-title">Help</h4>
</div>
<div class="modal-body" style="min-height:{{minHeight}}">
    <ul class="xs-help">
        <li ng-repeat="topic in topics">
            <span ng-click="selectTopic(topic)">
                <a style="text-decoration: none"><i class="fa fa-question-circle fa-lg"></i> {{topic.caption}}</a>
            </span>
            <ul>
                <li ng-show="topic.visible" class="animate-help">
                    <img ng-src="{{topic.image}}" />
                    <p ng-bind-html="topic.helpText"></p>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="done()">Close</button>
</div>