<div class="modal-header">
    <h4 class="modal-title">Add File...</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">File Name</label>
        <input class="form-control" type="text" required autofocus ng-model="className" />
        <p><br/>Files without extension will be considered classes, otherwise we will try to match an existing tool.</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="done()">Create</button>
</div>