<div class="modal-header">
    <h3>New Project</h3>
</div>

<div class="modal-body">
    <div rc-wizard="newProjectWizard" rc-disabled="rc.selectProject.submitInProgress">
        <ul class="nav rc-nav-wizard">
            <li class="active">
                <a class="active" href="#select-project" data-toggle="tab">
                    <span class="badge">1</span>
                    <span>Select</span>
                </a>
            </li>
            <li>
                <a href="#configure-project" data-toggle="tab">
                    <span class="badge">2</span>
                    <span>Configure</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <form class="tab-pane active" id="select-project" name="selectProject"
                  rc-step novalidate>
                <h2>Select Project</h2>
                <div class="form-group"
                     ng-class="{'has-error': rc.selectProject.needsAttention(selectProject.projectName)}">
                    <label class="control-label">Name</label>
                    <input name="projectName" class="form-control" type="text" required
                           ng-model="projectName" />
                </div>
                <div class="form-group">
                    <label class="control-label">Kind</label>
                    <select id="project-type" class="form-control" ng-model="projectKind">
                        <option value="console">Console</option>
                        <option value="dsl">DSL</option>
                    </select>
                </div>
            </form>

            <form class="tab-pane" id="configure-project" name="configureProject" rc-submit="createProject()" rc-step>
                <h2>Configure Project</h2>
                <div ng-switch on="projectKind">
                    <div ng-switch-when="console">
                        <div class="form-group" style="padding:15px">
                            <label class="control-label">Download As</label><br />
                            <input type="radio" name="console-opts" ng-model="consoleConfiguration.generateLibrary" value="true" /> Generate Library <br />
                            <input type="radio" name="console-opts" ng-model="consoleConfiguration.onlyExe" value="true" /> Only Executable <br />
                        </div>
                    </div>
                    <div ng-switch-when="dsl">
                        <div class="form-group">
                            <label class="control-label">Compiler</label>
                            <select id="parser-type" class="form-control">
                                <option value="roslyn">Roslyn</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Linker</label>
                            <select id="linker-type" class="form-control">
                                <option value="roslyn">Roslyn</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Extends</label><br />
                            <input type="checkbox" ng-model="dslConfiguration.extendsNamespaces" /> Namespaces<br />
                            <input type="checkbox" ng-model="dslConfiguration.extendsTypes" /> Types<br />
                            <input type="checkbox" ng-model="dslConfiguration.extendsMembers" /> Members<br />
                            <input type="checkbox" ng-model="dslConfiguration.extendsCode" /> Code<br />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <a class="btn btn-default" ng-click="rc.newProjectWizard.backward()"
                   ng-show="rc.newProjectWizard.currentIndex > rc.newProjectWizard.firstIndex">Back</a>
                <a class="btn btn-primary" data-loading-text="Please Wait..." ng-click="rc.newProjectWizard.forward()"
                   ng-show="rc.newProjectWizard.currentIndex < rc.newProjectWizard.navigationLength">Continue</a>
                <a class="btn btn-primary" ng-click="done()"
                   ng-show="rc.newProjectWizard.currentIndex == rc.newProjectWizard.navigationLength">{{finishText}}</a>
            </div>
        </div>
    </div>
</div>
