<div class="modal-header">
    <h4 class="modal-title">
        <a><i class="fa fa-refresh fa-spin" ng-show="busy" /></a>
        My Projects
    </h4>
</div>
<div class="modal-body">
    <div class="form-group" style="max-height:400px;overflow:auto">
        <p ng-repeat="project in projects">
            <a class="btn btn-danger" ng-click="removeProject(project.ID)">
                <i class="fa fa-trash-o fa-lg"></i> Delete
            </a>
            <a class="btn btn-default" ng-click="editProject(project.ID)">
                <i class="fa fa-edit fa-lg"></i> Edit
            </a>

            <img width="10"/>
            <span ng-switch="project.ProjectType">
                <i ng-switch-when="console" class="fa fa-terminal fa-lg"></i>
                <i ng-switch-when="extension" class="fa fa-signal fa-lg"></i>
                <i ng-switch-default class="fa fa-info fa-lg"></i>
            </span>
            {{project.Name}}
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="modalInstance.close()">Done</button>
</div>