<div ng-controller="app.views.home as vm">
    <table class="fill-parent" style="height: 100%; max-width : 1500px; min-width : 1200px">
        <tr>
            <td class="home-text">
                <h3>Welcome to Excess</h3>
                <p>
                    A platform for programming language experimentation. Introducing <strong>xs</strong>, a superset of <strong>c#</strong>
                    that uses translation to generate executable code.
                </p>

                <div style="margin-bottom:5px">
                    <div class="btn-group">
                        <a class="btn btn-default home-selector">
                            Run a project in the awesome IDE
                        </a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="sampleProject in sampleProjects">
                                <a ng-click="selectProject(sampleProject.ID)">
                                    <i class="fa {{sampleProject.Icon}}" style="margin-right:15px"></i> {{sampleProject.Name}}
                                </a>
                            </li>
                            <li ng-if="!gotSampleProjects">
                                <a><i class="fa fa-spin fa-refresh"></i> Please wait...</a>
                            </li>
                        </ul>
                    </div>

                    <a class="btn btn-default" ng-disabled="true">OR</a>

                    <div class="btn-group">
                        <a class="btn btn-default home-selector">
                            Choose an example
                        </a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="sample in samples">
                                <a ng-click="selectSample(sample.id)">
                                    <i class="fa fa-check-square"></i> {{sample.desc}}
                                </a>
                            </li>
                            <li ng-if="!gotSamples">
                                <a><i class="fa fa-spin fa-refresh"></i> Please wait...</a>
                            </li>
                        </ul>
                    </div>

                    <a class="btn btn-default" ng-disabled="true">THEN</a>

                    <a class="btn btn-default" ng-click="translateSource()">
                        <i class="fa fa-play-circle-o fa-lg"></i> Compile &raquo;
                    </a>
                </div>
            </td>
        </tr>
        <tr style="height: 100%">
            <td height="100%" style="position: relative">
                <layout class="home-text"
                        ng-splitters="false"
                        ng-center="{minSize: '20px'}"
                        ng-east="{size: '50%', resize: resizeTarget}"
                        ng-west="{size: '50%', resize: resizeSource}">

                    <div class="pane ui-layout-center">
                        <!--<p>
                <button class="btn btn-default center-block" ng-click="translateSource()">Compile &raquo;</button>
            </p>-->
                    </div>

                    <div class="pane ui-layout-east round-border">
                        <xs-code-editor id="target-editor" class="code-container" source="{{targetCode}}" resized="{{targetResized}}" />
                    </div>

                    <div class="pane ui-layout-west round-border">
                        <xs-code-editor id="source-editor" class="code-container"
                                        source="{{sourceCode}}"
                                        resized="{{sourceResized}}"
                                        keywords="{{editorKeywords}}" />
                    </div>
                </layout>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-3">
                    <h4>Learn More</h4>
                    <h5><a href="http://xslang.blogspot.com/" target="_blank">Development blog &raquo;</a></h5>
                    <h5><a href="http://roslyn.codeplex.com/" target="_blank">Roslyn &raquo;</a></h5>
                </div>
                <div class="col-md-3">
                    <h4>Connect</h4>

                    <a href="http://xslang.blogspot.com/" target="_blank"><img src="/Content/images/facebook.png" /></a>
                    <a href="http://xslang.blogspot.com/" target="_blank"><img src="/Content/images/twitter.png" /></a>
                    <a href="http://xslang.blogspot.com/" target="_blank"><img src="/Content/images/gplus.png" /></a>
                    <a href="http://xslang.blogspot.com/" target="_blank"><img src="/Content/images/blogspot.png" /></a>
                </div>
            </td>
        </tr>
    </table>
</div>