.round-border {
    border: 1px solid #ddd; 
    border-radius: 5px;
}

.code-container {
   position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
}

.home-text {
    padding-left: 15px;
}

.home-select {
    width: 200px;
    display: inline;
}

.home-selector {
    min-width: 150px;
}