<div class="fluid-container">
    <div class="row">
        <div class="col-lg-3">
            tree here
        </div>
        <div class="col-lg-9">
            <div style="padding-top:5px">
                <div id="toolbar">
                    <a title="Compile (CTRL+SHIFT+B)" ng-click="compileProject()" ng-disabled="compilerBusy">
                        <i class="toolbar-item fa fa-check-circle"></i>
                    </a>
                    <a title="Run (CTRL+F5)" ng-click="runProject()" ng-disabled="compilerBusy">
                        <i class="toolbar-item fa fa-play-circle"></i>
                    </a>
                    <a title="Download"><i class="toolbar-item fa fa-download"></i></a>
                    <a title="Save (CTRL+S)" ng-show="sourceModified" ng-click="saveFiles()"><i class="toolbar-item fa fa-save"></i></a>
                </div>

                <uib-tabset id="editor-tabs">
                    <uib-tab ng-repeat="editor in editors" heading="{{editor.name}}" active="editor.active" select="tabSelected(editor)">
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
