.fill-parent {
    overflow: hidden; 
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
}

.ui-layout-north,
.ui-layout-south,
.ui-layout-east,
.ui-layout-west,
.ui-layout-center { 
    padding:  0; 
    overflow: hidden;       /* NO SCROLL */ 

    border-top: none;       /* NO LINES */ 
    border-bottom: none;
    border-left: none;
    border-right: none;
} 
