<ul class="xs-tree">
    <script type="text/ng-template" id="node_renderer.html">
        <span ng-click="nodeSelected($event, node.action, node.data)">
            <i class="no-highlighting fa {{node.icon}}"></i> 
            {{node.label}}
            <img width="10"/>
            <a ng-repeat="action in node.actions">
                <i class="fa {{action.icon}}" ng-click="actionSelected($event, action.id, node.data)"></i>
            </a>
        </span>
        <ul>
            <li ng-repeat="node in node.children"
                ng-include="'node_renderer.html'"
                ng-class="{'xs-tree-parent': node.children}"></li>
        </ul>
    </script>

    <li ng-repeat="node in tree" ng-include="'node_renderer.html'" ng-class="{'xs-tree-parent': node.children}"></li>
</ul>
