<div class="page-err err-500">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                 <h1>500</h1>
            </div>
            <div class="err-message">
                <h2>server goes wrong</h2>
            </div>
            <div class="err-body">
                <a href="#/" class="btn btn-lg btn-goback">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="space"></span>
                    Go Back to Home Page
                </a>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        Copyright 2014 {{main.brand}} Admin
    </div>
</div>

