<div class="page-features">
    <div class="panel feature-list-container">
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-arrows-corner"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Responsive Design</h4>
                            <div class="desc">mobile-ready design adopt to any device</div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-desktop"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Web App</h4>
                            <div class="desc">single page application with AngularJS</div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-world"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Internationalization</h4>
                            <div class="desc">internationalization and localization support</div>
                        </div>
                    </article>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-layout"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Powerful Layout</h4>
                            <div class="desc">multiple layouts to choose from</div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-palette"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Multiple Colors</h4>
                            <div class="desc">18 predefined color schemes</div>
                        </div>
                    </article>
                </div>


                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-bag"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Flat UI Kit</h4>
                            <div class="desc">tons of ui components</div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-css3"></span>
                        </div>
                        <div class="desc-container">
                            <h4>CSS3 with Sass</h4>
                            <div class="desc">easy modification with variables</div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="fa fa-code"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Clean JS Code</h4>
                            <div class="desc">simple and clean JavaScript code</div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-thumb-up"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Solid Workflow</h4>
                            <div class="desc">solid workflow with Yeoman (GruntJS, Bower)</div>
                        </div>
                    </article>
                </div>


            </div>

            <div class="row">
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-html5"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Modern HTML5</h4>
                            <div class="desc">clean code with modern HTML5</div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="fa fa-bold"></span>
                        </div>
                        <div class="desc-container">
                            <h4>With Bootstrap</h4>
                            <div class="desc">built with popular Bootstrap 3.x</div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-4">
                    <article class="icon-box-alt">
                        <div class="icon-container">
                            <span class="ti-heart"></span>
                        </div>
                        <div class="desc-container">
                            <h4>Built with love</h4>
                            <div class="desc">built with love by @arousing</div>
                        </div>
                    </article>
                </div>
            </div>


        </div>
    </div>
</div>
