<div class="page-forgot" ng-controller="authCtrl">



    <div class="auth-container">
        <div class="form-container">

            <div class="signin-header">
                <section class="logo text-center">
                    <h1><a href="#/">{{main.brand}}</a></h1>
                </section>
            </div>

            <div class="form-container text-center">

                <form class="form-horizontal" name="forgotPasswordForm">
                    <div class="form-info">
                        <div class="text-muted text-center">
                            <p class="text-small">Enter your email address that you used to register.</p>
                        </div>
                        <div class="form-group form-group-last">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="email"
                                       class="form-control input-lg"
                                       placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-submit">
                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-lg btn-block btn-primary"
                                    ng-click="reset()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>