<div class="page page-lock" ng-controller="authCtrl">

    <div class="lock-centered clearfix">
        <div class="lock-container">
            <!-- <div ui-time class="lock-time"></div> -->

            <section class="lock-box">
                <div class="lock-user">{{main.name}}</div>
                <div class="lock-img"><img src="images/g1.jpg" alt=""></div>
                <div class="lock-pwd">
                    <form>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                            <a href="#/" class="btn-submit">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </div>            
            </section>
            
  <!--               <a href="" type="submit"
                        class="btn-icon btn-icon-round btn-icon-lg btn-success btn-submit"
                        ng-click="unlock()">
                        <span class="ti-unlock"></span>
                </a> -->

        </div>
    </div>
</div>