<div ng-controller="app.views.about as vm" style="margin-left:15px">
    <h3>Extend programming languages</h3>
    <p class="about-paragraph">
        Programming languages are measured largely by their expressiveness. If the problem you are trying to solve deals with apples,
        a programming language made of oranges will add unnecessary complexity. Historically, language makers deal with this problem
        by adding as many fruits to their language as humanly possible. Which still fails when you a get a problem related to vegetables.
        Vegetable people are forced then to put together a bunch of fruits and try to make it look like veggies. These are called libraries,
        which are forced to sacrifice a lot of expressiveness because of the strong smell of fruit imposed by the owners of the language.
        Some others have it worse, because their problems are related to spaceships and there is no way of making one of those out of fruit,
        unless millions upon millions of fruit are used.
    </p>

    <p class="about-paragraph">
        Silly produce analogies aside, every problem domain is different and those domains usually carry their own lingo, which is usually
        difficult to abstract in any programming language. Particularly when you would like to use an established language, full of documentation
        and thousands of libraries at your disposal. Such languages are outside of the control of developers and new features tend to take years
        to be implemented. It is not practical to write new programming languages for these domains, either. For starters, it is a very hard task
        to write a language; and then you loose all the goodness (tools, docs, libs).
    </p>

    <p class="about-paragraph">
        The solution is something that looks a lot like Excess. Instead of creating new languages (even when they run on top of JVM or CLR), developers can modify 
        their <b>actual</b> language of choice. Or C#, in this case. Why C#? It just offers the best tools, but the engine is written with any language in mind. 
        There are many advantages to this approach aside of expressiveness and convenience. It turns programming languages into a community affair, with a much faster 
        pace of innovation (no waiting years for a committee to decide). It helps standardize domain specific languages: once the community 
        (the actual community working a particular domain) agrees on a syntax, any vendor can implement it. It just becomes a faster, more democratic process.
    </p>

    <h3>Without leaving this website</h3>

    <p class="about-paragraph">
        Making languages is a hard, involved process that takes years to master and this usually discourages developers. I've been there, failed more times that 
        I would like to admit and the painful road took me here. I guarantee you this is the easiest language development tool available, where you will not have 
        to parse, build trees, or generate code (unless you want to, of course). There is nothing to install, it is accessible from any device supporting a web browser
        and your extensions will be written in the minimum possible lines of code. Or you get your money back! (see next section)
    </p>

    <p class="about-paragraph">
        Anecdotes! I used to write a cute little language that nobody ever used, it took my youth away and made me quite good at C++ (a skill nobody cares about).
        I loved it... and it ended up being an example for this platform, written in about 600 lines of code. So, if you have ideas for programming languages; save 
        your better years! Don't write thousands of lines of crude C++! Save yourself!!!!
    </p>

    <h3>For free, open source, etc</h3>

    <p class="about-paragraph">
        So yeah, I promised to give you your money back. That's fairly easy when you will not be spending any. Go get the code, use the site for free, show 'em 
        your mad skillz from a browser. Make your community better and don't spend a cent (or spend a few cents buying me a beer, you know, up to you). Licensing wise, 
        I have yet to choose one, but rest assured it will be an unobtrusive one. 
    </p>

    <h3>It haz Doc</h3>

    <p class="about-paragraph">
        There is a nascent documentation still evolving, but already covering the whole process. There are plenty of examples and the source code is available,
        if you are one of the curious ones. The links: 
    </p>

    <ul class ="about-paragraph">
        <li><a href="https://github.com/xs-admin/Excess/wiki"> Documentation</a></li>
        <li><a href="https://github.com/xs-admin/Excess"> Code</a></li>
    </ul>

    <h3>And you can make it yours</h3>

    <p class="about-paragraph">
        This is one of those project that is very easy to contribute to. From small stuff like writing extensions or even suggesting one to the big bad of porting
        to another languages. Some for everyone, even.. you know? using the site? Please help.
    </p>
</div>